{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://cognito-identity.amazonaws.com/"
        },
        {
            "url": "http://cognito-identity.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Cognito</fullname> <p>Amazon Cognito is a web service that delivers scoped temporary credentials to mobile devices and other untrusted environments. Amazon Cognito uniquely identifies a device and supplies the user with a consistent identity over the lifetime of an application.</p> <p>Using Amazon Cognito, you can enable authentication with one or more third-party identity providers (Facebook, Google, or Login with Amazon), and you can also choose to support unauthenticated access from your app. Cognito delivers a unique identifier for each user and acts as an OpenID token provider trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS credentials.</p> <p>To provide end-user credentials, first make an unsigned call to <a>GetId</a>. If the end user is authenticated with one of the supported identity providers, set the <code>Logins</code> map with the identity provider token. <code>GetId</code> returns a unique identifier for the user.</p> <p>Next, make an unsigned call to <a>GetCredentialsForIdentity</a>. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. Assuming your identity pool has been configured via the <a>SetIdentityPoolRoles</a> operation, <code>GetCredentialsForIdentity</code> will return AWS credentials for your use. If your pool has not been configured with <code>SetIdentityPoolRoles</code>, or if you want to follow legacy flow, make an unsigned call to <a>GetOpenIdToken</a>, which returns the OpenID token necessary to call STS and retrieve AWS credentials. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. The token returned by <code>GetOpenIdToken</code> can be passed to the STS operation <a href=\"http://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithWebIdentity.html\">AssumeRoleWithWebIdentity</a> to retrieve AWS credentials.</p> <p>If you want to use Amazon Cognito in an Android, iOS, or Unity application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href=\"http://docs.aws.amazon.com/mobile/index.html\">AWS Mobile SDK Developer Guide</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Cognito Identity",
        "version": "2014-06-30",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-identity-2014-06-30.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "cognito-identity"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/cognito-identity/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new identity pool. The identity pool is a store of user identity information that is specific to your AWS account. The limit on identity pools is 60 per account. The keys for <code>SupportedLoginProviders</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul> <p>You must use AWS Developer credentials to call this API.</p>",
                "operationId": "CreateIdentityPool",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An object representing an Amazon Cognito identity pool.",
                                    "properties": {
                                        "AllowUnauthenticatedIdentities": {
                                            "description": "TRUE if the identity pool supports unauthenticated logins.",
                                            "type": "boolean"
                                        },
                                        "CognitoIdentityProviders": {
                                            "description": "A list representing an Amazon Cognito Identity User Pool and its client ID.",
                                            "items": {
                                                "description": "A provider representing an Amazon Cognito Identity User Pool and its client ID.",
                                                "properties": {
                                                    "ClientId": {
                                                        "description": "The client ID for the Amazon Cognito Identity User Pool.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w_]+",
                                                        "type": "string"
                                                    },
                                                    "ProviderName": {
                                                        "description": "The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w._:/-]+",
                                                        "type": "string"
                                                    },
                                                    "ServerSideTokenCheck": {
                                                        "description": "TRUE if server-side token validation is enabled for the identity provider’s token.",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "DeveloperProviderName": {
                                            "description": "The \"domain\" by which Cognito will refer to your users.",
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[\\w._-]+",
                                            "type": "string"
                                        },
                                        "IdentityPoolId": {
                                            "description": "An identity pool ID in the format REGION:GUID.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        },
                                        "IdentityPoolName": {
                                            "description": "A string that you provide.",
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[\\w ]+",
                                            "type": "string"
                                        },
                                        "OpenIdConnectProviderARNs": {
                                            "description": "A list of OpendID Connect provider ARNs.",
                                            "items": {
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "SamlProviderARNs": {
                                            "description": "An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.",
                                            "items": {
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "SupportedLoginProviders": {
                                            "description": "Optional key:value pairs mapping provider names to provider app IDs.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w.;_/-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 10,
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "IdentityPoolId",
                                        "IdentityPoolName",
                                        "AllowUnauthenticatedIdentities"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceConflictException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user tries to use a login which is already linked to another account.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceConflictException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the total number of user pools has exceeded a preset limit.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a LimitExceededException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the CreateIdentityPool action.",
                                "properties": {
                                    "AllowUnauthenticatedIdentities": {
                                        "description": "TRUE if the identity pool supports unauthenticated logins.",
                                        "type": "boolean"
                                    },
                                    "CognitoIdentityProviders": {
                                        "description": "An array of Amazon Cognito Identity user pools and their client IDs.",
                                        "items": {
                                            "description": "A provider representing an Amazon Cognito Identity User Pool and its client ID.",
                                            "properties": {
                                                "ClientId": {
                                                    "description": "The client ID for the Amazon Cognito Identity User Pool.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w_]+",
                                                    "type": "string"
                                                },
                                                "ProviderName": {
                                                    "description": "The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w._:/-]+",
                                                    "type": "string"
                                                },
                                                "ServerSideTokenCheck": {
                                                    "description": "TRUE if server-side token validation is enabled for the identity provider’s token.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "DeveloperProviderName": {
                                        "description": "<p>The \"domain\" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\w._-]+",
                                        "type": "string"
                                    },
                                    "IdentityPoolName": {
                                        "description": "A string that you provide.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\w ]+",
                                        "type": "string"
                                    },
                                    "OpenIdConnectProviderARNs": {
                                        "description": "A list of OpendID Connect provider ARNs.",
                                        "items": {
                                            "maxLength": 2048,
                                            "minLength": 20,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "SamlProviderARNs": {
                                        "description": "An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.",
                                        "items": {
                                            "maxLength": 2048,
                                            "minLength": 20,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "SupportedLoginProviders": {
                                        "description": "Optional key:value pairs mapping provider names to provider app IDs.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w.;_/-]+",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "IdentityPoolName",
                                    "AllowUnauthenticatedIdentities"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteIdentities": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes identities from an identity pool. You can specify a list of 1-60 identities that you want to delete.</p> <p>You must use AWS Developer credentials to call this API.</p>",
                "operationId": "DeleteIdentities",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Returned in response to a successful <code>DeleteIdentities</code> operation.",
                                    "properties": {
                                        "UnprocessedIdentityIds": {
                                            "description": "An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and IdentityId.",
                                            "items": {
                                                "description": "An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and IdentityId.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code indicating the type of error that occurred.",
                                                        "enum": [
                                                            "AccessDenied",
                                                            "InternalServerError"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "IdentityId": {
                                                        "description": "A unique identifier in the format REGION:GUID.",
                                                        "maxLength": 55,
                                                        "minLength": 1,
                                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 60,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the <code>DeleteIdentities</code> action.",
                                "properties": {
                                    "IdentityIdsToDelete": {
                                        "description": "A list of 1-60 identities that you want to delete.",
                                        "items": {
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        },
                                        "maxItems": 60,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "IdentityIdsToDelete"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteIdentityPool": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a user pool. Once a pool is deleted, users will not be able to authenticate with the pool.</p> <p>You must use AWS Developer credentials to call this API.</p>",
                "operationId": "DeleteIdentityPool",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the requested resource (for example, a dataset or record) does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the DeleteIdentityPool action.",
                                "properties": {
                                    "IdentityPoolId": {
                                        "description": "An identity pool ID in the format REGION:GUID.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "IdentityPoolId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeIdentity": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns metadata related to the given identity, including when the identity was created and any associated linked logins.</p> <p>You must use AWS Developer credentials to call this API.</p>",
                "operationId": "DescribeIdentity",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A description of the identity.",
                                    "properties": {
                                        "CreationDate": {
                                            "description": "Date on which the identity was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "IdentityId": {
                                            "description": "A unique identifier in the format REGION:GUID.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        },
                                        "LastModifiedDate": {
                                            "description": "Date on which the identity was last modified.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "Logins": {
                                            "description": "A set of optional name-value pairs that map provider names to provider tokens.",
                                            "items": {
                                                "maxLength": 128,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the requested resource (for example, a dataset or record) does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the <code>DescribeIdentity</code> action.",
                                "properties": {
                                    "IdentityId": {
                                        "description": "A unique identifier in the format REGION:GUID.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "IdentityId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeIdentityPool": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Gets details about a particular identity pool, including the pool name, ID description, creation date, and current number of users.</p> <p>You must use AWS Developer credentials to call this API.</p>",
                "operationId": "DescribeIdentityPool",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An object representing an Amazon Cognito identity pool.",
                                    "properties": {
                                        "AllowUnauthenticatedIdentities": {
                                            "description": "TRUE if the identity pool supports unauthenticated logins.",
                                            "type": "boolean"
                                        },
                                        "CognitoIdentityProviders": {
                                            "description": "A list representing an Amazon Cognito Identity User Pool and its client ID.",
                                            "items": {
                                                "description": "A provider representing an Amazon Cognito Identity User Pool and its client ID.",
                                                "properties": {
                                                    "ClientId": {
                                                        "description": "The client ID for the Amazon Cognito Identity User Pool.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w_]+",
                                                        "type": "string"
                                                    },
                                                    "ProviderName": {
                                                        "description": "The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w._:/-]+",
                                                        "type": "string"
                                                    },
                                                    "ServerSideTokenCheck": {
                                                        "description": "TRUE if server-side token validation is enabled for the identity provider’s token.",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "DeveloperProviderName": {
                                            "description": "The \"domain\" by which Cognito will refer to your users.",
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[\\w._-]+",
                                            "type": "string"
                                        },
                                        "IdentityPoolId": {
                                            "description": "An identity pool ID in the format REGION:GUID.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        },
                                        "IdentityPoolName": {
                                            "description": "A string that you provide.",
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[\\w ]+",
                                            "type": "string"
                                        },
                                        "OpenIdConnectProviderARNs": {
                                            "description": "A list of OpendID Connect provider ARNs.",
                                            "items": {
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "SamlProviderARNs": {
                                            "description": "An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.",
                                            "items": {
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "SupportedLoginProviders": {
                                            "description": "Optional key:value pairs mapping provider names to provider app IDs.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w.;_/-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 10,
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "IdentityPoolId",
                                        "IdentityPoolName",
                                        "AllowUnauthenticatedIdentities"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the requested resource (for example, a dataset or record) does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the DescribeIdentityPool action.",
                                "properties": {
                                    "IdentityPoolId": {
                                        "description": "An identity pool ID in the format REGION:GUID.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "IdentityPoolId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetCredentialsForIdentity": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns credentials for the provided identity ID. Any provided logins will be validated against supported login providers. If the token is for cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service with the appropriate role for the token.</p> <p>This is a public API. You do not need any credentials to call this API.</p>",
                "operationId": "GetCredentialsForIdentity",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Returned in response to a successful <code>GetCredentialsForIdentity</code> operation.",
                                    "properties": {
                                        "Credentials": {
                                            "description": "Credentials for the provided identity ID.",
                                            "properties": {
                                                "AccessKeyId": {
                                                    "description": "The Access Key portion of the credentials.",
                                                    "type": "string"
                                                },
                                                "Expiration": {
                                                    "description": "The date at which these credentials will expire.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SecretKey": {
                                                    "description": "The Secret Access Key portion of the credentials",
                                                    "type": "string"
                                                },
                                                "SessionToken": {
                                                    "description": "The Session Token portion of the credentials",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "IdentityId": {
                                            "description": "A unique identifier in the format REGION:GUID.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the requested resource (for example, a dataset or record) does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceConflictException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user tries to use a login which is already linked to another account.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceConflictException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidIdentityPoolConfigurationException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the identity pool has no role associated for the given auth type (auth/unauth) or if the AssumeRole fails.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned for an <code>InvalidIdentityPoolConfigurationException</code> ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "ExternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An exception thrown when a dependent service such as Facebook or Twitter is not responding",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an ExternalServiceException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the <code>GetCredentialsForIdentity</code> action.",
                                "properties": {
                                    "CustomRoleArn": {
                                        "description": "The Amazon Resource Name (ARN) of the role to be assumed when multiple roles were received in the token from the identity provider. For example, a SAML-based identity provider. This parameter is optional for identity providers that do not support role customization.",
                                        "maxLength": 2048,
                                        "minLength": 20,
                                        "type": "string"
                                    },
                                    "IdentityId": {
                                        "description": "A unique identifier in the format REGION:GUID.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                        "type": "string"
                                    },
                                    "Logins": {
                                        "description": "A set of optional name-value pairs that map provider names to provider tokens.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 50000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "IdentityId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetId": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an implicit linked account.</p> <p>This is a public API. You do not need any credentials to call this API.</p>",
                "operationId": "GetId",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Returned in response to a GetId request.",
                                    "properties": {
                                        "IdentityId": {
                                            "description": "A unique identifier in the format REGION:GUID.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown for missing or bad input parameter(s).",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the requested resource (for example, a dataset or record) does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceConflictException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user tries to use a login which is already linked to another account.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ResourceConflictException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the service encounters an error during processing the request.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when the total number of user pools has exceeded a preset limit.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a LimitExceededException.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "ExternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An exception thrown when a dependent service such as Facebook or Twitter is not responding",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by an ExternalServiceException",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input to the GetId action.",
                                "properties": {
                                    "AccountId": {
                                        "description": "A standard AWS account ID (9+ digits).",
                                        "maxLength": 15,
                                        "minLength": 1,
                                        "pattern": "\\d+",
                                        "type": "string"
                                    },
                                    "IdentityPoolId": {
                                        "description": "An identity pool ID in the format REGION:GUID.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                        "type": "string"
                                    },
                                    "Logins": {
                                        "description": "<p>A set of optional name-value pairs that map provider names to provider tokens. The available provider names for <code>Logins</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Amazon Cognito Identity Provider: <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code> </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul>",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 50000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "IdentityPoolId"
                                ],
                                "type": "object"
[...]
